.text-block {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #e6e6e6;
  padding: 50px;
}
/* line 21, ../../app/styles/landing.scss */
.text-block h2 {
  color: #666666;
  font-size: 40px;
  font-family: "sanchez-regular", sans-serif;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
}
.text-block .testimonial-block {
  width: 100%;
  max-width: 850px;
  height: 220px;
  border: 2px solid #fff;
  background-color: #ff7373;
  border-radius: 300px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 55px 20px 55px 60px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.14);
}
/* line 48, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-control {
  display: none;
}
/* line 51, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .testi-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #fff;
}
/* line 57, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-inner {
  min-height: 160px;
}
/* line 60, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-caption {
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 140px;
  padding-left: 40px;
  border-left: 1px solid #fca7a7;
  text-align: left;
  text-shadow: none;
}
/* line 70, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-caption .testi-name {
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  font-family: "sanchez-regular", sans-serif;
  margin-bottom: 15px;
}
/* line 77, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-caption p {
  color: #fff;
  font-family: "proximanova-regular";
  font-size: 15px;
  line-height: 20px;
}
/* line 84, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-indicators {
  bottom: -70px;
  left: -10px;
  right: 0;
  margin: auto;
}
/* line 89, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-indicators li {
  height: 12px;
  width: 12px;
  border-color: #898989;
  margin: 0 12px 0 0;
}
/* line 95, ../../app/styles/landing.scss */
.text-block .testimonial-wrap .carousel-indicators .active {
  background-color: #898989;
}
.news-wrap {
  width: 100%;
  background-color: #fff;
  padding: 70px 0;
}
/* line 491, ../../app/styles/landing.scss */
.news-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 497, ../../app/styles/landing.scss */
.news-wrap li {
  display: inline-block;
  margin: 40px 15px 0 15px;
}
/* line 502, ../../app/styles/landing.scss */
.press-release {
  background: url(images/pr-sprite.png) no-repeat;
  display: inline-block;
  height: 34px;
  position: relative;
  text-indent: -9999px;
}
/* line 507, ../../app/styles/landing.scss */
.press-release.live-mint {
  width: 72px;
  background-position: -177px -35px;
}
/* line 511, ../../app/styles/landing.scss */
.press-release.mid-day {
  width: 126px;
  background-position: -283px -105px;
  top: 8px;
}
/* line 516, ../../app/styles/landing.scss */
.press-release.economic-times {
  width: 261px;
  background-position: -181px -175px;
  top: 3px;
}
/* line 521, ../../app/styles/landing.scss */
.press-release.dna {
  width: 67px;
  background-position: -215px -105px;
  top: 2px;
}
/* line 526, ../../app/styles/landing.scss */
.press-release.bangalore-mirror {
  width: 176px;
  background-position: 0 -35px;
  top: 5px;
}
/* line 531, ../../app/styles/landing.scss */
.press-release.next-big {
  width: 200px;
  background-position: -250px -36px;
  top: 9px;
}
/* line 536, ../../app/styles/landing.scss */
.press-release.tech-circle {
  width: 180px;
  background-position: 0 -175px;
  top: 4px;
}
/* line 541, ../../app/styles/landing.scss */
.press-release.business-line {
  width: 214px;
  background-position: 0 -105px;
}
/* line 546, ../../app/styles/landing.scss */
.news-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "sanchez-regular", sans-serif;
  color: #ffaa00;
  font-size: 40px;
}
